* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@1,300&display=swap');

body {
    background-color: #f0f0f0;
    font-family: 'Roboto', sans-serif;
    color: #000020;

}


.container {
    margin-right: auto;
    margin-left: auto;
    padding-right: 15px;
    padding-left: 15px;
  }
  
  @media (min-width: 576px) {
    .container {
      max-width: 540px;
    }
  }
  
  @media (min-width: 768px) {
    .container {
      max-width: 720px;
    }
  }
  
  @media (min-width: 992px) {
    .container {
      max-width: 960px;
    }
  }
  
  @media (min-width: 1200px) {
    .container {
      max-width: 1140px;
    }
  }
  


header {
    background-color: #fff;
    display: flex;
    justify-content: center;
}



.navbar {
    padding: 2em 0.5em;
    width: 100%;
    height: auto;
    display: flex;
}

.navbar .navbar-brand {
    width: 25%;
    align-self: center;
}

.nav-menu {
    width: 75%;
    align-self: center;
    justify-content: end;
    display: flex;
}



@media (min-width:768px) {
    .navbar .navbar-toggler {
        display: none;

    }

    .navbar .collapse {
        display: flex;
        align-self: center;
    }
}

@media (max-width:768px) {
    .navbar .navbar-toggler {
        width: 2em;
        height: 2em;
        margin: 0 8px;
        border: none;
        border-radius: 4px;
        background-color: #000020;
        cursor: pointer;
        color: white;
        transition: 0.3s ease;
        align-self: center;

        display: inline-block;
    }

    .navbar .collapse {
        display: none;
    }
}

.navbar .collapse ul{
    align-self: center;
}

.navbar .collapse ul li {
    display: inline;
    padding: 0 1em;
}

.navbar .collapse ul li a{
    font-size: 1em;
    text-decoration: none;
    color: #000020;
    padding: 0.5em;
    border-radius: 30px;

}

.navbar .collapse ul li a:hover{
    transition: ease-in 200ms;
    font-size: 1em;
    background-color: #000020;
    color: #fff;
    padding: 0.5em;
    border-radius: 30px;

}

.btn{
    display: inline-block;
  padding: 10px 20px;
  border: 2px solid #000020;
  border-radius: 4px;
  color: #000020;
  text-decoration: none;
  transition: background-color 0.3s ease;
}

.btn:hover{
    background-color: #000020;
  color: #fff;
  transition: ease-in 300ms;
}